<div class="swiper-container uq-mbLarge">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img src="image/lane/lane01.jpg" alt="Swiper01">
					</div>
			<!--/.swiper-slide-->
			<div class="swiper-slide">
				<img src="image/lane/lane02.jpg" alt="Swiper02">
					</div>
				<!--/.swiper-slide-->
				<div class="swiper-slide">
					<img src="image/lane/lane03.jpg" alt="Swiper03">
					</div>
					<!--/.swiper-slide-->
				</div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
			<!--swiper-container-->