@charset "UTF-8";
/*!==================================
	このCSSはSassで記述されていますので
	直接編集しないで下さい！
==================================*/
/* A Modern CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/*==================================
  共通部分 - タイプセレクタ+見出し+hp-の指定。
	必要なら、後述のcssで上書きしていく。
===================================*/

/*フルードイメージ化*/

/*見出し*/

/*hp-：ヘルパークラス*/

/*position:fixed使用時、ページ内リンクのずれを解消*/

/*==================================
  ly_layout - ページ共通
===================================*/

/*==================================
  メディアクエリ - ページ共通
===================================*/
/*---------------------
	ハンバーガーメニュー
----------------------*/

/*ハンバーガーアイコンをCSSだけで表現*/

/*==================================
  bl_block - ページ共通
===================================*/
/*==================================
  el_element - ページ共通
===================================*/
@media (prefers-reduced-motion: reduce) {

	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
		transition-duration: 0.01ms !important;
	}
}

@media screen and (max-width: 480px) {
	/*スマートフォンの指定*/
}

@media screen and (min-width: 769px) {
	/*PCの指定*/
}

@media (prefers-color-scheme: dark) {
	/*ブラウザのダークモードの指定*/
}
