<header class="ly_header">
	<div class="ly_header_inner">
		<h1 class="el_header_tit hp-reset"><a href="#">Cresta&nbsp;Design</a></h1>
		<!--PC用ナビゲーション-->
		<nav class="bl_header_nav sp-hidden">
			<ul class="bl_header_gnav hp-mtb0">
				<li class="el_header_gnavItem"><a href="#about">About</a></li>
				<li class="el_header_gnavItem"><a href="#service">Service</a></li>
				<li class="el_header_gnavItem"><a href="#news">Contents</a></li>
			</ul>
		</nav>
		<!--スマホ用ハンバーガーメニュー-->
		<%- include('bl_block/_bl_hamburgerMenu') %>
		<!--/#nav-drawer-->
	</div>
	<!-- /.ly_header_inner -->
</header>